FINANCIAL STATEMENT ANALYSIS

Assumption: As a Data Scientist working in a consulting firm, A friend that owns a Beauty shop asked me to help her assess the financial statement of her enterprise. I was given two vectors of data: Monthly revenue and expenses for the year, 2021. The task is to calculate the following financial Metrics;

profit for each month
profit after tax for each month
profit margin for each month
Good months
Bad months
Best month
worst Month

In [1]:
#Data
revenue = {'January':2878325, 'February':1983422, 'March':1000042, 'April':3888800, 'May':1500000, 'June':2800001, 'July':900353, 'August':899999, 'September':4355521, 'October':3000000, 'November':1199990, 'December':2965551}
expenses = {'January':1000000, 'February':899980, 'March':782821,'April':1555588, 'May':1600000, 'June':1000221, 'July':999821, 'August':482320, 'September':1888520, 'October':1000010, 'November':682221, 'December':998221}

In [2]:
import pandas as pd
data = pd.DataFrame({'Revenue': revenue, 'Expenses': expenses})
data

           Revenue  Expenses
January    2878325   1000000
February   1983422    899980
March      1000042    782821
April      3888800   1555588
May        1500000   1600000
June       2800001   1000221
July        900353    999821
August      899999    482320
September  4355521   1888520
October    3000000   1000010
November   1199990    682221
December   2965551    998221

In [3]:
#profit for each month
data['profit'] = data['Revenue'] - data['Expenses']
data['profit']

January      1878325
February     1083442
March         217221
April        2333212
May          -100000
June         1799780
July          -99468
August        417679
September    2467001
October      1999990
November      517769
December     1967330
Name: profit, dtype: int64

In [4]:
#profit after tax for each month
data['profit_after_tax'] = data['profit'] - data['profit']* 0.3
data['profit_after_tax']

January      1314827.5
February      758409.4
March         152054.7
April        1633248.4
May           -70000.0
June         1259846.0
July          -69627.6
August        292375.3
September    1726900.7
October      1399993.0
November      362438.3
December     1377131.0
Name: profit_after_tax, dtype: float64

In [5]:
#profit Margin for each month
data['profit_margin'] = data['profit_after_tax']/ data['Revenue']
data['profit_margin']

January      0.456803
February     0.382374
March        0.152048
April        0.419988
May         -0.046667
June         0.449945
July        -0.077334
August       0.324862
September    0.396485
October      0.466664
November     0.302034
December     0.464376
Name: profit_margin, dtype: float64

In [6]:
data['profit_margin']*100

January      45.680300
February     38.237420
March        15.204831
April        41.998776
May          -4.666667
June         44.994484
July         -7.733367
August       32.486181
September    39.648545
October      46.666433
November     30.203443
December     46.437610
Name: profit_margin, dtype: float64

In [7]:
#mean 
data['profit_after_tax'].mean()

844799.7250000001

In [8]:
#Good months
good_months = data.query('profit_after_tax > profit_after_tax.mean()')
good_months

           Revenue  Expenses   profit  profit_after_tax  profit_margin
January    2878325   1000000  1878325         1314827.5       0.456803
April      3888800   1555588  2333212         1633248.4       0.419988
June       2800001   1000221  1799780         1259846.0       0.449945
September  4355521   1888520  2467001         1726900.7       0.396485
October    3000000   1000010  1999990         1399993.0       0.466664
December   2965551    998221  1967330         1377131.0       0.464376

In [9]:
#Bad months
Bad_months = data.query('profit_after_tax <= profit_after_tax.mean()')
Bad_months

          Revenue  Expenses   profit  profit_after_tax  profit_margin
February  1983422    899980  1083442          758409.4       0.382374
March     1000042    782821   217221          152054.7       0.152048
May       1500000   1600000  -100000          -70000.0      -0.046667
July       900353    999821   -99468          -69627.6      -0.077334
August     899999    482320   417679          292375.3       0.324862
November  1199990    682221   517769          362438.3       0.302034

In [10]:
#Best mon
best_month = data[data['profit_after_tax'] == data['profit_after_tax'].max()]
best_month

           Revenue  Expenses   profit  profit_after_tax  profit_margin
September  4355521   1888520  2467001         1726900.7       0.396485

In [11]:
#Worst month
worst_month = data[data['profit_after_tax'] == data['profit_after_tax'].min()]
worst_month

     Revenue  Expenses  profit  profit_after_tax  profit_margin
May  1500000   1600000 -100000          -70000.0      -0.046667